<div class="card-container">
  <app-card *ngFor="let item of cardItems" [data]="item"></app-card>
</div>
<div class="chat">
  <form [formGroup]="form">
    <!-- Reorganizando o nickname e os botões de conexão -->
    <div class="user-connection-container">
      <label for="user">Nickname:</label>
      <input
        type="text"
        formControlName="user"
        class="username"
        placeholder="Digite seu nick:"
        [disabled]="isConnected"
      />
      <div class="connection-controls">
        <button type="button" (click)="connect()" [disabled]="isConnected">
          Conectar
        </button>
        <button type="button" (click)="disconnect()" [disabled]="!isConnected">
          Disconectar
        </button>
      </div>
    </div>

    <div class="message-send-container">
      <label for="text">Mensagem: </label>
      <input
        type="text"
        formControlName="text"
        class="message"
        placeholder="Digite sua mensagem:"
        [disabled]="!isConnected"
      />
      <button
        (click)="sendMessage()"
        [disabled]="!isConnected"
        class="btn-send"
      >
        Enviar
      </button>
    </div>
  </form>

  <p>LiveChat</p>
  <div class="chat-messages" #chatMessages>
    <div *ngFor="let message of messages" class="message">
      <span class="nickname">{{ message.content.split(": ")[0] }}: </span>
      <span class="text">{{
        message.content.split(": ").slice(1).join(": ")
      }}</span>
    </div>
  </div>
</div>
