<div class="container">
  <h2>Quem Somos</h2>
  <p>
    <strong>Somos FURIA.</strong> Uma organização de esports que nasceu do
    desejo de representar o Brasil no CS e conquistou muito mais que isso:
    expandimos nossas ligas, disputamos os principais títulos, adotamos novos
    objetivos e ganhamos um propósito maior. Somos muito mais que o sucesso
    competitivo.
  </p>
  <p><strong>Somos um movimento sociocultural.</strong></p>
  <p>
    Nossa história é de
    <strong>pioneirismo, grandes conquistas e tradição</strong>. Nosso presente
    é de <strong>desejo, garra e estratégia</strong>. A pantera estampada no
    peito estampa também nosso futuro de glória. Nossos pilares de performance,
    lifestyle, conteúdo, business, tecnologia e social são os principais
    constituintes do movimento FURIA, que representa uma unidade que respeita as
    individualidades e impacta positivamente os contextos em que se insere.
    Unimos pessoas e alimentamos sonhos dentro e fora dos jogos
  </p>
</div>
